#diaMes {
    margin: auto;
    background-color: dodgerblue;
    width: 400px;
    font-size: large;
    text-align: center;

}

#banco {
    margin: auto;
    background-color: dodgerblue;
    width: 400px;
    font-size: large;
    text-align: center;
}

#ecommerce {
    margin: auto;
    background-color: dodgerblue;
    width: 400px;
    font-size: large;
    text-align: center;
}

#peteca {
    margin: auto;
    background-color: dodgerblue;
    width: 400px;
    font-size: large;
    text-align: center;
}


body {
    background-color: azure;
}