body{
    margin: 0px;
}
#exemplo1{
    height: fit-content;
    margin-bottom: 20px;
    background-color: aliceblue;
    margin: 0px 10px;
}

#exemplo2{
    height: fit-content;
    background-color: beige;

    padding-top: 10px;
    margin:0px 10px;
    margin-bottom: 20px;
    
}

#exemplo3{

    height: 200px;
    width: 200px;
    background-color: bisque;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 20px;
    margin: 0px 10px;
}

#textoEscondido{
    display: none;
}